* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border-style: solid;*/
}

body {
    background-color: #000000;
    font-family: sans-serif;
}

.master {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    width: 70%;
    margin: 0 auto;

}

.top > h2 {
    margin-bottom: 30px;
    line-height: 1.4em;
    font-weight: 550;
}

aside {
    grid-row: 1 / -1;
    background-image: url("/home/administrator/Odin/Sign-Up-Form/placeholder.jpg");
    background-size: cover;
}

.container-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header {
    font-size: 38px;
    color: lavender;
    text-transform: uppercase;
    letter-spacing: 15px;
    outline: 3px solid #969696;
    outline-offset: .25em;
    display: inline-block;
    margin: 0.25em 0 0.5em;
    color: #969696
}


.top {
    padding: 100px 100px 40px 30px;
    background-color: #f6faff;

}


.col-one, .col-two {
    margin-right: 80px;
    margin-top: 30px;

}

.middle {
    position: relative;
    grid-column: 2 / 3;
    padding: 30px;
    box-shadow: 0 4px 20px -2px gray;

}


.bottom {
    grid-column: 2 / 3;
    padding: 30px;
    background-color: #f6faff;
    margin-top: 1px;

}

form {
    display: flex;
    flex-flow: wrap;
}

input, label {
    display: block;
    text-transform: uppercase;

}

input {
    margin-bottom: 15px;
}