* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border-style: solid;*/
}

body {
    background-color: #000000;
    font-family: sans-serif;
}

.master {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    width: 70%;
    margin: 0 auto;

}

.top > h2 {
    margin-bottom: 30px;
    line-height: 1.4em;
    font-weight: 550;
}

aside {
    grid-row: 1 / -1;
    background-image: url("/home/administrator/Odin/Sign-Up-Form/placeholder.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header {
    position: relative;

}

.main-header {
    font-size: 44px;
    color: lavender;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: black;*/
    text-transform: uppercase;
    letter-spacing: 8px;
    /*outline: 3px solid #d8d8d8;*/
    /*outline-offset: .25em;*/
    display: inline-block;
    color: #d8d8d8;
    text-shadow: 1px 1px 1px #929292;
    background: rgba(0,0,0,0.5);
    padding: 40px 0;
    margin-bottom: 200px;
}


.top {
    padding: 100px 100px 30px 50px;
    background-color: #f6faff;

}


.col-one, .col-two {
    margin-right: 80px;
    margin-top: 30px;

}

.middle {
    position: relative;
    grid-column: 2 / 3;
    padding: 50px;
    box-shadow: 0 4px 20px -2px gray;

}


.bottom {
    grid-column: 2 / 3;
    padding: 50px;
    background-color: #f6faff;
    margin-top: 1px;

}

form {
    display: flex;
    flex-flow: wrap;
}

input, label {
    display: block;
    text-transform: uppercase;

}

input {
    margin-bottom: 15px;
}